body{
    font-family: 'Poppins', sans-serif;
    background-image: url(./pictures/background.jpg);
}

h1{
    font-size: 35px;

}
.colour{
    color: red;
}
.flexible-container{
    display: flex;
    margin: 100px;
}
.hw{
    width: 80%;
    padding-left: 2%;
}
.hw img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(#de6262,#ffb88c);
    border-radius: 8px;
    color: white;
    font-weight: 500;
    
}